.Button {
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}

.SearchButton {
    margin: 5px 10px !important;
    padding: 5px 10px !important;
    height: 40px;
    background-color: palegreen;
}
